@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --primary-color-light: blue;
  --primary-color-dark: blue;
  --primary-color-light: blue;
  --secondary-color-light: blue;
  --secondary-color-light: blue;
  --secondary-color-light: blue;
} */


/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
} */

/* body {
  background: url('/images/vector-image.jpg')
} */

@keyframes imageCarousel {

  0%,
  100% {
    opacity: 0;
  }

  20%,
  80% {
    opacity: 1;
  }
}

.hero-section {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.carousel-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  animation: imageCarousel 12s infinite;
}




